body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", Helvetica,sans-serif;
	font-weight: 300;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0;
}
ul li{
	float: left;
	margin-right: 10px;
	width: 310px;
	font-size: 13px;
	height: 29px;
}
ul li:hover{
	text-decoration:underline;
	color:#ee3224;
	cursor:pointer;
	cursor:hand;
}

.clearfix{
	clear:both;
}
#wrapper{
	width:960px;
	margin:0 auto;
}
h1{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", Helvetica,sans-serif;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}
.help-text{
	color:#ccc;
	font-style:italic;
}
.input-text-field{
	float:left;
}
.step{
	margin:10px 0;
	float:left;
}
.step-text{
	float:left;
	margin-right:10px;
}
#step-two{
	display:none;
}
#topic-option-list{
	margin:25px 0;
}
#search-term-submit{
	float:left;
}
.pointer{
	font-size:12px;
	font-weight:bold;
	font-style: italic;
}
.spinner{
	margin-top:3px;
	margin-left:5px;
	float:left;
	display:none;
}
#calls-remaining{
	float:left;
	margin-left:10px;
}



.day {
	fill: #fff;
	stroke: #ddd;
}

.month {
	fill: none;
	stroke: #000;
	stroke-width: 1px;
}
