body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", Helvetica,sans-serif;
	font-weight: 300;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0;
}
ul li{
	float: left;
	margin-right: 10px;
	width: 310px;
	font-size: 13px;
	height: 29px;
}
ul li:hover{
	text-decoration:underline;
	color:#ee3224;
	cursor:pointer;
	cursor:hand;
}

.clearfix{
	clear:both;
}
#wrapper{
	width:960px;
	margin:0 auto;
}
h2{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", Helvetica,sans-serif;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}
/*.help-text{
	color:#ccc;
	font-style:italic;
}
*/
.input-text-field{
	float:left;
}
.step{
	margin:10px 0;
	float:left;
	width:960px;
}
.step-text{
	float:left;
	margin-right:10px;
}
#step-two{
	display:none;
}
#topic-option-list{
	margin:25px 0;
}
#search-term-submit{
	float:left;
}
.pointer{
	font-size:12px;
	font-weight:bold;
	font-style: italic;
}
.spinner{
	margin-top:3px;
	margin-left:5px;
	float:left;
	display:none;
}
#calls-remaining{
	float:left;
	margin-left:10px;
}



.day {
	fill: #fff;
	stroke: #ddd;
}

.month {
	fill: none;
	stroke: #000;
	stroke-width: 1px;
	margin-top:2px;
}
#bar-plot{
	margin: 0 auto;
	width:960px;
	height:150px;
	float:left;
	display:none;
	border-bottom: 1px solid black;
	padding-bottom: 1px;
}
.col-wrapper{
    /*height:150px;*/
    position:relative;
	float:left;
	height:150px;
}
.bar-container{
    position:absolute;
    bottom:0;
    width:100%;
}
.bar{
    width:100%;
    height:20px; 
    border-top:1px solid white;
    background-color:#3b6d97;   
}
.bar:hover{
	background-color:coral;
	cursor:pointer;
	cursor:hand;
}
#bar-hover-container{
	position:absolute;
	z-index:9999;
	width:250px;
	background-color: rgba(0,0,0, .8);
	color:white;
	border-radius: 3px;
	display:none;
	padding:10px;
	font-size:12px;
	font-family:Arial,sans-serif;
}
.hover-row{
	margin:5px 0;
}


#calendar-popup {
	border: 16px solid #fc0;
	display: none;
	position: absolute;
}
.hackday-byline{
	font-size:12px;
}
.hackday-byline a{
	color:black;
	text-decoration:underline;
}
.hackday-byline a:hover{
	color:#ee3224;
}